---
layout: layouts/home.njk
---


<h3>Default button group</h3>
<ul class="usa-button-group">
  <li class="usa-button-group__item">
    <a href="javascript:void(0);" class="usa-button usa-button--outline"
      >Back</a
    >
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button">Continue</button>
  </li>
</ul>

<h3>Segmented button group</h3>
<ul class="usa-button-group usa-button-group--segmented">
  <li class="usa-button-group__item">
    <button class="usa-button">Map</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Satellite</button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline">Hybrid</button>
  </li>
</ul>

